@using RecipeSharingPlatform.Web.ViewModels.Recipe;
@model IEnumerable<RecipeViewModel>

@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-4">Welcome to Recipe Sharing Platform</h2>
        </div>
    </div>
    <div class="row">
        @foreach (var recipe in Model)
        {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="@recipe.ImageURL" class="card-img-top" alt="@recipe.Title">
                        <div class="card-body">
                            <h5 class="card-title">@recipe.Title</h5>
                            <a asp-controller="Recipe" asp-action="ViewRecipe" asp-route-id="@recipe.Id" class="btn btn-primary">View Recipe</a>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>



