@using RecipeSharingPlatform.Web.ViewModels.Recipe;
@model IEnumerable<RecipeViewModel>

@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-4">Welcome to Recipe Sharing Platform</h2>
        </div>
    </div>
    <div class="row">
        @foreach (var recipe in Model)
        {                
                    <partial name="_RecipePartial" model="@recipe" />
                
    
        }
    </div>
</div>






