@using RecipeSharingPlatform.Data.Models
@model List<IndexViewModel> 
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Recipe Sharing Platform</title>
    <style>
        .recipe-card {
            width: 300px; 
            margin-bottom: 20px;
        }

        .recipe-card img {
            width: 50%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to Recipe Sharing Platform</h1>
        <hr />

        <h2>Latest Recipes</h2>

        @foreach (var recipe in Model)
        {
            string link = recipe.ImageURL;

                    <div class="recipe-card">
                        <h3 class="recipe-title">@recipe.Title</h3>
                        <div class="image-container">
                            <img src="@link" alt="Description of the image">
                        </div>
                        <p class="recipe-author">Author: @recipe.AuthorName</p>
                    </div>
        }
    </div>
</body>
</html>