<h2>Admin Area</h2>

<p>This is your admin area. Here you can edit add delete and retrieve different info about the app.</p>

<div>
    <h3>User Actions</h3>

    <!-- Button to get all users -->
    <a asp-area ="Admin" asp-action="GetAllUsers" asp-controller="Home" class="btn btn-primary">Get All Users</a>
</div>

